@import "@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

:root {
    --background-color: radial-gradient(circle, rgb(19, 28, 72) 0%, rgba(14,14,15,1) 0%); 
    --on-background-color: #0d0d0e88;
    --slot-background-color: #20212351;

    --outline-hard: 2px solid #525252;
    --outline-soft: 2px solid #363331;
    --outline-on-background: 2px solid #2e2926;

    --font-color: white;
    --font-color-inverted: invert(0);

    --filter-invert: invert(1);
    --filter-reset: invert(0);

    --box-shadow: unset;
}

:root[data-theme="light"] {
    /* --background-color: linear-gradient(140deg, rgb(172, 200, 226) 0%, rgb(224, 211, 194) 35%, rgb(199, 150, 154) 100%); */
    --background-color: white;
    --on-background-color: #d2d2d2;
    --slot-background-color: #d2d2d2;

    --outline-hard: var(--outline-soft);
    --outline-soft: 2px solid #5c5c5c;
    --outline-on-background: 2px solid #eddcd2;

    --font-color: black;
    --font-color-inverted: invert(100%);

    --filter-invert: invert(0);
    --filter-reset: invert(1);

    --box-shadow: rgb(255, 255, 255) 0px 0px 15px;
}

* {
    transition-duration: 0.25s !important;
    color: var(--font-color);
    text-decoration: none;
}

.salanileo {
    border: var(--outline-hard);
    border-radius: 100px;
}

body {
    background: var(--background-color);
    background-repeat: no-repeat;
    background-attachment: fixed; /*edit*/
    font-family: "Biryani", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin: 0;
    color: var(--font-color);
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.root {
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(60px);
}

.center {
    padding: 4rem;
    border-radius: 2rem;
    gap: 2rem;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    max-width: 750px;
}

.title {
    margin: 0;
    text-align: center;
}

.socials {
    gap: 2rem;
    width: 90%;
    max-width: 500px;
}

.icon {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    max-height: 32px;
    max-width: 32px !important;
}

.slot {
    display: flex;
    background-color: var(--slot-background-color);
    outline: var(--outline-soft);
    padding: 1rem;
    border-radius: 1rem;
    width: 100% !important;
    gap: 1rem;
    align-items: center;
}

.slot .fill {
    justify-content: start !important;
    text-align: left !important;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 10;
}

.slot .name {
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 600;
}

.fa-brands {
    transform: translateY(-5px);
}

.expand {
    width: 100%;
}

.insta:hover {
    background-color: #d7447b;
}

.telegram:hover {
    background-color: #339fd3;
}

.matrix:hover {
    background-color: rgb(90, 90, 90);
}

.linkedin:hover {
    background-color: #0471aa;
}

.website:hover {
    background-color: #303237;
}

.statsfm:hover {
    background-color: #1ed760;
}

.wakatime:hover {
    background-color: #527da4;
}

.wakatime img {
    filter: var(--filter-invert);
}
.matrix svg {
    filter: var(--filter-invert);
}
@media screen and (max-width: 720px) {
    .root {
        background: var(--background-color);
        height: 100vh;
        width: 100vw;
        display: unset;
    }
    .center {
        width: unset;
        background-color: #00000000;
        outline: unset;
    }
}